body {
  font-family: "Libre Franklin",sans-serif;
  text-align: center;
  background-color: #eb5b7e;
  color: white;
}

.mainHeading {
  font-size: 10rem;
  font-weight: 900;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.pickImages {
  width: 25%;
  border-radius: 12%;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 100%;
}

.pickImages:hover {
  opacity: 50%;
}

.teamColorText{
  color: white;
  font-size: 5rem;
  text-align: center;
  font-weight: bolder;
  margin-top: 2rem;
}
